.formulario-container {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5rem 3.125rem;
}
.formulario-container .formulario {
  background: #f7f7f7;
  box-shadow: 0.4375rem 0.4375rem 0.9375rem rgba(0, 0, 0, 0.08);
  border-radius: 1.25rem;
  flex: 1;
  padding: 2.25rem 4rem;
}
.formulario-container .formulario h2 {
  font-weight: 400;
  font-size: 2rem;
}
